<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/menu">E-Invoicing</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/menu">Menu</a></li>
      <li><a routerLink="/invoice">Invoice</a></li>
      <li class="active"><a routerLink="/add-invoice">Create Invoice</a></li>
    </ul>
  </div>
</nav>
<div class="center-panel">
  <h1>Create Invoice</h1>
  <div class="page-style">
    <h3>Receiver</h3>
    <select class="form-control">
      <option disabled hidden>Select a receiver</option>
      <option></option>
    </select>
    <h3>Condition</h3>
    <select class="form-control">
      <option disabled hidden>Select a selling condition</option>
      <option></option>
    </select>
    <h3>Terms of sale</h3>
    <input class="form-control" placeholder="Enter period for sale in days">
    <h3>Payment method</h3>
    <select class="form-control">
      <option disabled hidden>Select a payment method</option>
      <option></option>
    </select>
    <h3>Service</h3>
    <select class="form-control">
      <option disabled hidden>Select a service</option>
      <option></option>
    </select>
    <br>
    <button class="form-control">Sign and Send</button>
    <br>
    </div>
</div>
