<div class="container-fluid">
  <div class="wizard">
    <br>
    <aw-wizard>
      <aw-wizard-step stepTitle="General">
        <h3>Código</h3>
        <select #selectedCodeType class="form-control">
          <option value="01">Impuesto General sobre las ventas</option>
          <option value="02">Impuesto Selectivo de Consumo</option>
          <option value="03">Impuesto ünico a los combustivos</option>
          <option value="04">Impuesto especifico de bebidas alcohólicas</option>
          <option value="05">Impuesto especifico sobre las bebidas envasadas sin contenido alcoholico y jabones de tocador</option>
          <option value="06">Impuesto a los productos de tabaco</option>
          <option value="07">Servicios</option>
          <option value="08">Impuesto General a las Ventas Diplomaticos</option>
          <option value="09">Impuesto General sobre Ventas compras autorizadas</option>
          <option value="10">Impuesto General sobre las ventas instituciones publicas y otros organismos</option>
          <option value="11">Impuesto Selectivo de consumo compras autorizadas</option>
          <option value="12">Impuesto Especifico al Cemento</option>
          <option value="98">Otros</option>
          <option value="99">Otros</option>
        </select>
        <h3>Tarifa</h3>
        <input [(ngModel)]="rate" disabled class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)' placeholder="Tarifa del Impuesto">
        <h3>Porcentaje</h3>
        <input [(ngModel)]="purchasePercentage" maxlength="2" (change)="calculateRate()" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Porcentaje de la compra exonerado">
        <br>
        <button class="btn btn-primary" type="button" awNextStep>Siguiente ></button>
        <br>
        <br>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Exhoneración">
        <label>Incluir exhoneración...... </label><input class="checkbox" type="checkbox" [(ngModel)]="exhonerationAvaible">
        <h3>Fecha de Emisión</h3>
        <input [(ngModel)]="dateCreated" class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Fecha de Emisión">
        <owl-date-time #dt1></owl-date-time>
        <h3>Nombre de Institución</h3>
        <input #institutionName class="form-control" placeholder="Nombre de la institución que emitió exoneración">
        <h3>Número de Documento</h3>
        <input #documentNumber class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Número de Documento">
        <h3>Tipo de Documento</h3>
        <select #selectedDocumentType class="form-control">
        <option value="">Seleccione</option>
        <option value="01">Compras Autorizadas</option>
        <option value="02">Ventas Exentas a Diplomáticos</option>
        <option value="03">Orden de Compra (Instituciones Públicas y Otros Organismos)</option>
        <option value="04">Exenciones Dirección General de Hacienda</option>
        <option value="05">Zonas Francas</option>
        <option value="99">Otros</option>
    </select>
        <br>
        <button class="btn btn-primary prev" type="button" awPreviousStep>< Anterior</button>
        <button (click)="addTax(selectedCodeType.value, purchasePercentage.value,
        dateCreated, institutionName.value, documentNumber.value, selectedDocumentType.value
        )" class="nex btn btn-primary">Agregar Impuesto</button>
        <br>
        <br>
        <br>
      </aw-wizard-step>
    </aw-wizard>
  </div>
</div>
<br>
