<div class="container-fluid">
  <div class="wizard">

    <aw-wizard>
      <aw-wizard-step stepTitle="General">
        <form [formGroup]="taxeForm01">
          <div class="form-group">  
            <h3>Código</h3>
            <select formControlName="exhonerationAvaible" name="exhonerationAvaible" id="exhonerationAvaible" class="form-control">
              <option hidden selected disabled value="">Seleccione su tipo de impuesto</option>
              <option *ngFor="let taxe of taxeList" value="{{ taxe.value }}">{{ taxe.name }}</option>
            </select>
            <label class="error-messages" *ngIf="taxeForm01.get('exhonerationAvaible').touched && taxeForm01.get('exhonerationAvaible').hasError('required')">
                Tipo de Código es requerido.
            </label>
            <h3>Tarifa <span style="font-size: 50%" tooltip="Tarifa del impuesto. Ej: '0.13'" [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <input formControlName="rate" name="rate" id="rate" disabled class="form-control" onkeypress='return (event.charCode >= 48 && event.charCode <= 57) || (event.charCode == 46)' placeholder="Tarifa del Impuesto">
            <h3>Porcentaje <span style="font-size: 50%" tooltip="Porcentaje de la compra exonerado. Ej: '13'" [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <input formControlName="purchasePercentage" name="purchasePercentage" id="purchasePercentage" maxlength="2" (change)="calculateRate()" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Porcentaje de la compra exonerado">
            <label class="error-messages" *ngIf="taxeForm01.get('purchasePercentage').touched && taxeForm01.get('purchasePercentage').hasError('required')">
               El porcentaje de exoneracion es requerido.
            </label>
            <br>
            <button class="btn btn-primary" type="button" awNextStep>Siguiente ></button>
          </div>
        </form>
      </aw-wizard-step>

      <aw-wizard-step stepTitle="Exhoneración">
        <form [formGroup]="taxeForm02">
          <div class="form-group">
            <label>Incluir exhoneración</label>
              <input formControlName="exhonerationAvaible" name="exhonerationAvaible" id="exhonerationAvaible" class="checkbox form-control" type="checkbox"> 
            <h3>Fecha de Emisión</h3>
              <input type="date" formControlName="dateCreated" name="dateCreated" id="dateCreated" class="form-control" placeholder="Fecha de Emisión">
              <label class="error-messages" *ngIf="taxeForm02.get('dateCreated').touched && taxeForm02.get('dateCreated').hasError('required')">
                  La fecha de Emision es requerida.
              </label>
            <h3>Nombre de Institución</h3>
              <input formControlName="institutionName" name="institutionName" id="institutionName" class="form-control" placeholder="Nombre de la institución que emitió exoneración">
              <label class="error-messages" *ngIf="taxeForm02.get('institutionName').touched && taxeForm02.get('institutionName').hasError('required')">
                  El nombre de la institucion es requerido.
              </label>
            <h3>Número de Documento</h3>
              <input formControlName="documentNumber" name="documentNumber" id="documentNumber" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Número de Documento">
              <label class="error-messages" *ngIf="taxeForm02.get('documentNumber').touched && taxeForm02.get('documentNumber').hasError('required')">
                  El numero de documento es requerido.
              </label>
            <h3>Tipo de Documento</h3>
            <select formControlName="selectedDocumentType" name="selectedDocumentType" id="selectedDocumentType" class="form-control">
              <option hidden disabled selected value="" > Seleccione su documento</option>
              <option *ngFor="let document of documentType" value="{{document.value}}">{{ document.name }}</option>
            </select>
            <label class="error-messages" *ngIf="taxeForm02.get('selectedDocumentType').touched && taxeForm02.get('selectedDocumentType').hasError('required')">
                El tipo de documento es requerido
            </label>
            <br>
            <button class="btn btn-primary prev" type="button" awPreviousStep>< Anterior</button>
            <button (click)="addTax()" type="button" class="btn btn-primary">Agregar Impuesto</button>
          </div>
        </form>
      </aw-wizard-step>
    </aw-wizard>
  </div>
</div>
