<div class="container-fluid">
  <div class="wizard">
    <br>
    <aw-wizard>
      <aw-wizard-step stepTitle="General">
        <h3>Tipo de Código</h3>
        <select #selectedCodeType class="form-control">
          <option value="01">Código del producto del vendedor</option>
          <option value="02">Código del producto del comprador</option>
          <option value="03">Código del producto asignado por la industria</option>
          <option value="04">Código de uso interno</option>
          <option value="99">Otros</option>
        </select>
        <h3>Código</h3>
        <input #code class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Código">
        <br>
        <button (click)="addCode(selectedCodeType.value, code.value)" class="btn btn-primary">Agregar Codigo</button>
        <br>
        <br>
      </aw-wizard-step>
    </aw-wizard>
  </div>
</div>
<br>
