<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/menu">Factura Digital</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/menu">Menu</a></li>
      <li><a routerLink="/invoice">Factura</a></li>
      <li><a routerLink="/receiver">Receptor</a></li>
      <li><a routerLink="/emitter">Emisor</a></li>
      <li><a routerLink="/products">Resumen de Factura</a></li>
      <li><a routerLink="/services">Servicios</a></li>
    </ul>
  </div>
</nav>
<div class="center-panel">
    <h1>Create Invoice</h1>
    <div class="page-style">
      <h3>Clave</h3>
      <input class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Ingrese la clave asignada">
      <h3>Número Consecutivo</h3>
      <input class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Ingrese número consecutivo de factura">
      <h3>Fecha de Emisión</h3>
      <input class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Date Time">
      <owl-date-time #dt1></owl-date-time>
      <h3>Receptor</h3>
      <select class="form-control">
        <option *ngFor="let receiver of receivers"> {{receiver.comercialName}}  </option>
      </select>
      <h3>Emisor</h3>
      <select class="form-control">
        <option *ngFor="let emitter of emitters"> {{emitter.comercialName}}</option>
      </select>
      <h3>Condición de Venta</h3>
      <select class="form-control">
        <option *ngFor="let term of sellTerms">{{term}}</option>
      </select>
      <h3>Medio de Pago</h3>
      <select class="form-control">
        <option *ngFor="let method of paymentMethods">{{method}}</option>
      </select>
      <h3>Resumen de Factura <span *ngIf="showChevronRight" (click)="displayInvoiceResume()" class="glyphicon glyphicon-chevron-right"></span><span *ngIf="showChevronDown" (click)="hideInvoiceResume()"  class="glyphicon glyphicon-chevron-down"></span></h3>
      <div *ngIf="showResume">
        <label>Código de Moneda</label>
        <select class="form-control">
          <option *ngFor="let currency of currencies">{{currency}}</option>
        </select>
        <label>Tipo de Cambio</label>
        <input class="form-control">
        <label>Total de Servicios Gravados</label>
        <input class="form-control">
        <label>Total de Servicios Exentos</label>
        <input class="form-control">
        <label>Total de Mercancias Gravadas</label>
        <input class="form-control">
        <label>Total de Mercancias Exentas</label>
        <input class="form-control">
        <label>Total  Gravado</label>
        <input class="form-control">
        <label>Total Exento</label>
        <input class="form-control">
        <label>Total Venta</label>
        <input class="form-control">
        <label>Total Descuento</label>
        <input class="form-control">
        <label>Total de Venta Neta</label>
        <input class="form-control">
        <label>Total de Impuesto</label>
        <input class="form-control">
        <label>Total Comprobante</label>
        <input class="form-control">
      </div>
      <h3>Servicio</h3>
      <select class="form-control">
        <option disabled hidden>Seleccionar Servicio</option>
        <option></option>
      </select>
      <br>
      <button class="btn btn-primary btn-margin">Sign and Send</button>
      <br>
      </div>
  </div>
  
