<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/menu">Factura Digital</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/menu">Menu</a></li>
      <li><a routerLink="/invoice">Factura</a></li>
      <li><a routerLink="/receiver">Receptor</a></li>
      <li><a routerLink="/emitter">Emisor</a></li>
      <li><a routerLink="/services">Servicios</a></li>
      <li><a routerLink="/products">Productos</a></li>
    </ul>
  </div>
</nav>
<div class="center-panel">
    <h1>Crear Factura</h1>
    <div class="page-style">
      <br>
      <h3>Clave</h3>
      <input #key class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Ingrese la clave asignada">
      <h3>Número Consecutivo</h3>
      <input #consecutiveNumber class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Ingrese número consecutivo de factura">
      <h3>Fecha de Emisión</h3>
      <input #dateCreated class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Fecha de Emisión">
      <owl-date-time #dt1></owl-date-time>
      <h3>Emisor</h3>
      <select [(ngModel)]="selectedEmitter" class="form-control">
        <option disabled  [value]="selectUndefinedOptionValue">Seleccione un Emisor</option>
        <option *ngFor="let emitter of emitters" [ngValue]="emitter"> {{emitter.comercialName}}</option>
      </select>
      <h3>Receptor</h3>
      <select [(ngModel)]="selectedReceiver"class="form-control">
        <option disabled  [value]="selectUndefinedOptionValue">Seleccione un Receptor</option>
        <option *ngFor="let receiver of receivers" [ngValue]="receiver"> {{receiver.comercialName}}  </option>
      </select>
      <h3>Servicio</h3>
      <select [(ngModel)]="selectedService" class="form-control">
        <option disabled  [value]="selectUndefinedOptionValue">Seleccione un Servicio</option>
        <option *ngFor="let service of services" [ngValue]="service">{{service.lineNumber}}-{{service.codeType}}</option>
      </select>
      <h3>Condición de Venta</h3>
      <select #sellTerm class="form-control">
        <option *ngFor="let term of sellTerms">{{term}}</option>
      </select>
      <h3>Plazo de Crédito</h3>
      <input #paymentLapse class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Obligatotio si la condición de venta es a crédito">
      <h3>Medio de Pago</h3>
      <select #paymentMethod class="form-control">
        <option *ngFor="let method of paymentMethods">{{method}}</option>
      </select>
      <h3>Resumen de Factura <span *ngIf="showChevronRight" (click)="displayInvoiceResume()" class="glyphicon glyphicon-chevron-right"></span><span *ngIf="showChevronDown" (click)="hideInvoiceResume()"  class="glyphicon glyphicon-chevron-down"></span></h3>
      <div *ngIf="showResume">
        <label>Código de Moneda</label>
        <select [(ngModel)]="selectedCurrency" class="form-control">
          <option disabled  [value]="selectUndefinedOptionValue">Seleccione una Moneda</option>
          <option *ngFor="let currency of currencies" (ngValue)="currency">{{currency}}</option>
        </select>
        <label>Tipo de Cambio</label>
        <input [(ngModel)]="exchangeRate" class="form-control">
        <label>Total de Servicios Gravados</label>
        <input [(ngModel)]="recordedServices" class="form-control">
        <label>Total de Servicios Exentos</label>
        <input [(ngModel)]="exemptServices" class="form-control">
        <label>Total de Mercancias Gravadas</label>
        <input [(ngModel)]="recordedCommodity" class="form-control">
        <label >Total de Mercancias Exentas</label>
        <input [(ngModel)]="exemptCommodity" class="form-control">
        <label>Total  Gravado</label>
        <input [(ngModel)]="recordedTotal" class="form-control">
        <label>Total Exento</label>
        <input [(ngModel)]="exemptTotal" class="form-control">
        <label>Total Venta</label>
        <input [(ngModel)]="totalSell" class="form-control">
        <label>Total Descuento</label>
        <input [(ngModel)]="totalDiscount" class="form-control">
        <label>Total de Venta Neta</label>
        <input [(ngModel)]="netSell" class="form-control">
        <label>Total de Impuesto</label>
        <input [(ngModel)]="totalTax" class="form-control">
        <label>Total Comprobante</label>
        <input [(ngModel)]="totalVoucher" class="form-control">
      </div>
      <h3>Número de Resolución</h3>
      <input #resolutionNumber class="form-control" placeholder="Número de resolución DGT XXXX">
      <h3>Fecha de Resolución</h3>
      <input #resolutionDate class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Fecha y hora de Resolución">
      <owl-date-time #dt2></owl-date-time>
      <h3>Otro Texto</h3>
      <textarea  #otherText class="form-control" placeholder="Elemento opcional"></textarea>
      <br>
      <button class="btn btn-primary btn-margin" (click)="processInvoice(key.value, consecutiveNumber.value, dateCreated.value, sellTerm.value, paymentLapse.value, 
      paymentMethod.value, selectedCurrency, exchangeRate, recordedServices, exemptServices, recordedCommodity, exemptCommodity, recordedTotal,
      exemptTotal, totalSell, totalDiscount, netSell, totalTax, totalVoucher, resolutionNumber.value, resolutionDate.value, otherText.value)">Crear Factura</button>
      <br>
      <br>
      </div>
  </div>
