.center-panel {
  text-align: center;
  width: auto;
  height: auto;
  color: white;
}

.form-control {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.page-style {
  width: 100%;
  background-color: rgba(93, 109, 126, 0.8);
  border-radius: 25px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.navbar {
  background-color: rgba(93, 109, 126, 0.8);
  height: auto;
  border: none;
}

.navbar-default {
  margin-bottom: 0;
}

.navbar a {
  color: white;
}

.btn {
  width: 50%;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.colBtn {
  height: 300px;
}

.btn-width{
  width: 10%;
  display: inline-block;
}

.general-overlay{
  position: relative;
}

.invoice-absolute{
  position: absolute;
}

.multiselect-background{
  background-color: white;
}

.element::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
}
