<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/menu">Factura Digital</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routerLink="/menu">Menu</a></li>
      <li><a routerLink="/invoice">Factura</a></li>
      <li><a routerLink="/receiver">Receptor</a></li>
      <li><a routerLink="/emitter">Emisor</a></li>
      <li><a routerLink="/services">Servicios</a></li>
      <li><a routerLink="/products">Productos</a></li>
      <li><a routerLink="/tax">Impuestos</a></li>
    </ul>
  </div>
</nav>
<div class="center-panel">
  <h1>Crear Factura</h1>
  <div class="page-style col-sm-8" [@slideInOut] *ngIf="showGeneral">
    <br>
    <div class="col-sm-4">
      <h3>Fecha de Emisión</h3>
      <input [(ngModel)]="dateCreated" class="form-control" [owlDateTime]="dt1" [owlDateTimeTrigger]="dt1" placeholder="Fecha de Emisión">
      <owl-date-time #dt1></owl-date-time>
      <br>
      <br>
    </div>
    <div class="col-sm-4">
      <h3>Emisor</h3>
      <select [(ngModel)]="selectedEmitter" class="form-control">
        <option disabled  [value]="selectUndefinedOptionValue">Seleccione un Emisor</option>
        <option *ngFor="let emitter of emitters" [ngValue]="emitter"> {{emitter.comercialName}}</option>
      </select>
      <h3>Receptor</h3>
      <select [(ngModel)]="selectedReceiver" class="form-control">
        <option disabled  [value]="selectUndefinedOptionValue">Seleccione un Receptor</option>
        <option *ngFor="let receiver of receivers" [ngValue]="receiver"> {{receiver.comercialName}}  </option>
      </select>
      <h3>Servicio</h3>
      <mat-select placeholder="Seleccione un Servicio" [(ngModel)]="selectedService" class="form-control" multiple>
        <mat-option *ngFor="let service of services" [value]="service">{{service.lineNumber}}-{{service.detail}}</mat-option>
      </mat-select>
      <br>
      <br>
    </div>
    <div class="col-sm-4">
      <h3>Condición de Venta</h3>
      <select [(ngModel)]="sellTerm" class="form-control">
        <option disabled  [value]="selectUndefinedOptionValue">Seleccione una Condición de Venta</option>
        <option *ngFor="let term of sellTerms">{{term}}</option>
      </select>
      <h3>Plazo de Crédito</h3>
      <input [(ngModel)]="paymentLapse" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57' placeholder="Obligatotio si la condición de venta es a crédito">
      <h3>Medio de Pago</h3>
      <mat-select placeholder="Seleccione un Medio de Pago" class=" form-control" [(ngModel)]="paymentMethod" multiple>
          <mat-option *ngFor="let method of paymentMethods" [value]="method" >{{method}}</mat-option>
      </mat-select>
      <br>
      <br>
    </div>
    <button class="btn btn-primary btn-width" (click)="displayInvoiceResume(dateCreated, selectedEmitter, selectedReceiver, selectedService, sellTerm, paymentLapse, paymentMethod)">Siguiente ></button>
  </div>
  <div class="page-style col-sm-8"  [@slideInOut] *ngIf="showResume">
    <h3>Resumen de Factura</h3>
    <div class="col-sm-4">
      <label>Código de Moneda</label>
      <select [(ngModel)]="selectedCurrency" class="form-control">
          <option disabled  [value]="selectUndefinedOptionValue">Seleccione una Moneda</option>
          <option *ngFor="let currency of currencies" (ngValue)="currency">{{currency}}</option>
        </select>
      <label>Tipo de Cambio</label>
      <input [(ngModel)]="exchangeRate" class="form-control" placeholder="Tipo de Cambio">
      <label>Total de Servicios Gravados</label>
      <input [(ngModel)]="recordedServices" class="form-control" placeholder="Total de Servicios Gravados">
      <label>Total de Servicios Exentos</label>
      <input [(ngModel)]="exemptServices" class="form-control" placeholder="Total de Servicios Exentos">
    </div>
    <div class="col-sm-4">
      <label>Total de Mercancias Gravadas</label>
      <input [(ngModel)]="recordedCommodity" class="form-control" placeholder="Total de Mercancias Gravadas">
      <label>Total de Mercancias Exentas</label>
      <input [(ngModel)]="exemptCommodity" class="form-control" placeholder="Total de Mercancias Exentas">
      <label>Total  Gravado</label>
      <input [(ngModel)]="recordedTotal" class="form-control" placeholder="Total  Gravado">
      <label>Total Exento</label>
      <input [(ngModel)]="exemptTotal" class="form-control" placeholder="Total Exento">
    </div>
    <div class="col-sm-4">
      <label>Total Venta</label>
      <input [(ngModel)]="totalSell" class="form-control" placeholder="Total Venta">
      <label>Total Descuento</label>
      <input [(ngModel)]="totalDiscount" class="form-control" placeholder="Total Descuento">
      <label>Total de Venta Neta</label>
      <input [(ngModel)]="netSell" class="form-control" placeholder="Total de Venta Neta">
      <label>Total de Impuesto</label>
      <input [(ngModel)]="totalTax" class="form-control" placeholder="Total de Impuesto">
      <label>Total Comprobante</label>
      <input [(ngModel)]="totalVoucher" class="form-control" placeholder="Total Comprobante">
      <br>
      <br>
    </div>
    <br>
    <br>
    <button class="btn btn-primary btn-width" (click)="displayInvoiceGeneral()"> < Anterior </button>
    <button class="btn btn-primary btn-width" (click)="displayInvoiceResolutions(selectedCurrency, exchangeRate, recordedServices, exemptServices, recordedCommodity, 
    exemptCommodity, recordedTotal, exemptTotal, totalSell, totalDiscount, netSell, totalTax, totalVoucher)">Siguiente ></button>
  </div>
  <div [@slideInOut] *ngIf="showResolutions" class="page-style col-sm-8" >
    <div >
      <h3>Número de Resolución</h3>
      <input [(ngModel)]="resolutionNumber" class="form-control" placeholder="Número de resolución DGT XXXX">
      <h3>Fecha de Resolución</h3>
      <input [(ngModel)]="resolutionDate" class="form-control" [owlDateTime]="dt2" [owlDateTimeTrigger]="dt2" placeholder="Fecha y hora de Resolución">
      <owl-date-time #dt2></owl-date-time>
      <h3>Otro Texto</h3>
      <textarea [(ngModel)]="otherText" class="form-control" placeholder="Elemento opcional"></textarea>
      <br>
      <br>
      <button class="btn btn-primary btn-width" (click)="backToInvoiceResume()"> < Anterior </button>
      <button class="btn btn-primary btn-width" (click)="processInvoice(dateCreated, sellTerm, paymentLapse,
      paymentMethod, selectedCurrency, exchangeRate, recordedServices, exemptServices, recordedCommodity, exemptCommodity, recordedTotal,
      exemptTotal, totalSell, totalDiscount, netSell, totalTax, totalVoucher, resolutionNumber  , resolutionDate, otherText)">Crear Factura</button>
    </div>
    <div>  
    <br>
    <br>
    </div>
  </div>
  <br>
  <br>
</div>
