.form-control {
  width: 50%;
  display: block;
  margin: 0 auto;
}

.wizard {
  width: 50%;
  height: auto;
  background-color: white;
  border-radius: 25px;
  margin: 0 auto;
  color: black;
  text-align: center;
}

@media screen and (max-width: 600px) {
  .wizard {
    width: 100%;
  }
}

.nex {
  float: right;
  margin-right: 10%;
}

.prev {
  float: left;
  margin-left: 10%;
}

.navbar {
  background-color: rgba(93, 109, 126, 0.8);
  height: auto;
  border: none;
}

.navbar-default {
  margin-bottom: 0;
}

.navbar a {
  color: white;
}

.multiselect-background {
  background-color: white;
}

.element::-webkit-input-placeholder {
  color: black;
  font-weight: bold;
}
