<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/menu">Factura Digital</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/menu">Menu</a></li>
      <li><a routerLink="/invoice">Factura</a></li>
      <li><a routerLink="/receiver">Receptor</a></li>
      <li class="active"><a routerLink="/Emisor">Emisor</a></li>
      <li><a routerLink="/services">Servicios</a></li>
      <li><a routerLink="/products">Productos</a></li>
      <li><a routerLink="/tax">Taxes</a></li>
    </ul>
  </div>
</nav>
<div class="center-panel">
  <h1>Agregar Emisor</h1>
  <div class="page-style"> <br>
    <div class="col-sm-6">
      <h3>Nombre</h3>
      <input #name class="form-control" placeholder="Nombre">
      <h3>Correo</h3>
      <input #email class="form-control" type="email" placeholder="Correo">
      <h3>Identificación</h3>
      <select #idType class="form-control">
        <option>Cédula física</option>
        <option>Cédula jurídica</option>
        <option>DIMEX</option>
        <option>NITE</option>
    </select>
      <h3>Numero de Identificación</h3>
      <input #emitterNumber class="form-control" placeholder="Numero" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
      <h3>Nombre Comercial</h3>
      <input #emitterBusinessName class="form-control" placeholder="Nombre Comercial">
    </div>
    <div class="col-sm-6">
      <h3>Provincia</h3>
      <select #emitterProvince class="form-control" (change)="onProvinceChange($event.target.value)">
      <option *ngFor="let province of provinces" value="{{province}}">{{province}}</option>
    </select>
      <h3>Cantón</h3>
      <select #emitterCanton class="form-control" (change)="onCantonChange($event.target.value)">
        <option *ngFor="let cantons of cantonsOnSelectedProvince" value="{{cantons}}">{{cantons}}</option>
    </select>
      <h3>Distrito</h3>
      <select #emitterDistrict class="form-control">
        <option *ngFor="let district of cartagoDistricts" value="{{district}}">{{district}}</option>
    </select>
      <h3>Barrio</h3>
      <select #emitterNeighborhood class="form-control">
        <option *ngFor="let neighborhood of tresRiosNeighborhoods" value="{{neighborhood}}">{{neighborhood}}</option>
    </select>
      <h3>Otras Señas</h3>
      <textarea #otherSignals class="form-control" placeholder="Señas destacables del lugar"></textarea>
    </div>
    <div class="col-sm-6">
      <h2>Telefóno</h2>
      <h3>Código de país</h3>
      <input #phoneCountryCode placeholder="Código de páis" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
      <h3>Telefóno</h3>
      <input #emitterPhone placeholder="Telefóno" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
    </div>
    <div class="col-sm-6">
      <h2>Fax</h2>
      <h3>Código de país</h3>
      <input #faxCountryCode placeholder="Código de páis" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
      <h3>Fax</h3>
      <input #faxNumber placeholder="Fax" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
      <br>
    </div>
    <div class="col-sm-12">
      <button (click)="addEmitter(name.value, email.value, idType.value, emitterNumber.value, emitterBusinessName.value, emitterProvince.value, emitterCanton.value,
       emitterDistrict.value, emitterNeighborhood.value, otherSignals.value, phoneCountryCode.value, emitterPhone.value, faxCountryCode.value, faxNumber.value);"
       class="btn btn-primary btn-lg button-at-bottom">Agregar Emisor</button>
      <br>
      <br>
    </div>
  </div>
</div>
