<nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" routerLink="/menu">Factura Digital</a>
      </div>
      <ul class="nav navbar-nav">
        <li><a routerLink="/menu">Menu</a></li>
        <li><a routerLink="/invoice">Factura</a></li>
        <li><a routerLink="/receiver">Receptor</a></li>
        <li><a routerLink="/emitter">Emisor</a></li>
        <li><a routerLink="/products">Resumen de Factura</a></li>
        <li class="active"><a routerLink="/services">Servicios</a></li>
      </ul>
    </div>
  </nav>
<div>
<div class="col-sm-4">
    <label>Número de línea</label>
    <input #lineNumber class="form-control">
    <label>Tipo de Código</label>
    <select #selectedCodeType class="form-control">
      <option value="01">Código del producto del vendedor</option>
      <option value="02">Código del producto del comprador</option>
      <option value="03">Código del producto asignado por la industria</option>
      <option value="04">Código de uso interno</option>
      <option value="99">Otros</option>
    </select>
    <label>Código</label>
    <input #code class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
    <label>Cantidad</label>
    <input #amount class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
    <label>Unidad de Medida</label>
    <select #measureUnit class="form-control">
      <option value="sp">Servicios Profesionales</option>
    </select>
    <label>Unidad de Medida Comercial</label>
    <input #businessMeasure class="form-control">
    <label>Detalle</label>
    <textarea #detail class="form-control"></textarea>
    <label>Precio Unitario</label>
    <input #unitPrice class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
    <label>Monto Total</label>
    <input #totalAmount class="form-control">
    <label>Naturaleza Descuento</label>
    <input #discount class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
    <label>Subtotal</label>
    <input #subtotal class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
    <label>Monto Total Línea</label>
    <input #lineTotalAmount class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
    <br>
    <button (click)="addService(lineNumber.value, selectedCodeType.value, code.value, amount.value, measureUnit.value, businessMeasure.value, detail.value, unitPrice.value
    , totalAmount.value, discount.value, subtotal.value, lineTotalAmount.value);" class="btn btn-primary btn-margin">Agregar Servicio</button>
</div>

