<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" routerLink="/menu">Factura Digital</a>
    </div>
    <ul class="nav navbar-nav">
      <li><a routerLink="/menu">Crear</a></li>
      <li class="active"><a routerLink="/invoice">Facturas</a></li>
    </ul>
  </div>
</nav>
<br>
<br>
<div class="center-panel">
  <div class="page-style">
    <h2>Invoices</h2>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Id</th>
            <th>Receiver</th>
            <th>Emitter</th>
            <th>Products</th>
            <th>Services</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>1</td>
            <td>Google</td>
            <td>Carlos Sirias</td>
            <td>E-Invoicing</td>
            <td>Programing hours</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
