.center-panel {
  text-align: center;
  width: auto;
  height: auto;
  color: #424242;
}

.form-control {
  width: 80%;
  display: block;
  margin: 0 auto;
}

.page-style {
  width: 50vh;
  background-color: #424242;
  border-radius: 25px;
  margin: 0 auto;
  text-align: center;
  color: white;
}

.navbar {
  background-color: #424242;
  height: auto;
}

.navbar-default {
  margin-bottom: 0;
}

.navbar a {
  color: white;
}
