<div class="container-fluid">
  <div class="wizard">
    <aw-wizard>
      <aw-wizard-step stepTitle="General">
        <form [formGroup]="generalForm">
          <div class="form-group">
            <h3>Nombre Receptor <span style="font-size: 50%" tooltip="Nombre de la persona física o jurídica que recibe la factura." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <input formControlName="receiverName" name="receiverName" id="receiverName" class="form-control" placeholder="Nombre">
            <label class="error-messages" *ngIf="generalForm.get('receiverName').touched && generalForm.get('receiverName').hasError('required')">
                El nombre es requerido.
            </label>
            <h3>Correo <span style="font-size: 50%" tooltip="Correo de la persona física o jurídica que recibe la factura." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <input formControlName="receiverEmail" name="receiverEmail" id="receiverEmail" class="form-control" type="email" placeholder="Correo">
            <label class="error-messages" *ngIf="generalForm.get('receiverEmail').touched && generalForm.get('receiverEmail').hasError('required')">
                El correo es requerido.
            </label>
            <h3>Tipo de Identificación <span style="font-size: 50%" tooltip="Tipo de identificacíon de la persona física o jurídica que recibe la factura." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <select [(ngModel)]="selectedIdentification" formControlName="idType" name="idType" id="idType" class="form-control">
              <option value="" hidden disable selected>Seleccione su identificacion</option>
              <option *ngFor="let identification of identifications" [ngValue]="identification">{{identification.identificationName}}</option>
            </select>
            <label class="error-messages" *ngIf="generalForm.get('idType').touched && generalForm.get('idType').hasError('required')">
                El tipo de identificación es requerido.
            </label>
            <h3>Número de Identificación <span style="font-size: 50%" tooltip="Numero identificacíon de la persona física o jurídica que recibe la factura." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <input formControlName="receiverNumber" name="receiverNumber" id="receiverNumber" class="form-control" maxlength="12" placeholder="Numero" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            <label class="error-messages" *ngIf="generalForm.get('receiverNumber').touched && generalForm.get('receiverNumber').hasError('required')">
                El número de identificación es requerido.
            </label>
            <h3>Nombre Comercial <span style="font-size: 50%" tooltip="Nombre de uso comercial de la persona física o jurídica que recibe la factura." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <input formControlName="receiverBusinessName" name="receiverBusinessName" id="receiverBusinessName" class="form-control" placeholder="Nombre Comercial">
            <label class="error-messages" *ngIf="generalForm.get('receiverBusinessName').touched && generalForm.get('receiverBusinessName').hasError('required')">
                El nombre comercial es requerido.
            </label>
            <br>
            <button class="btn btn-primary" type="button" awNextStep onkeypress="">Siguiente ></button>
            <br>
          </div>
        </form>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Dirección">
        <form [formGroup]="addressForm">
          <div class="form-group">
            <h3>Provincia <span style="font-size: 50%" tooltip="Provincia donde reside la persona física o jurídica que recibe la factura." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <select [(ngModel)]="selectedProvince" formControlName="receiverProvince" name="receiverProvince" id="receiverProvince" class="form-control" (change)="onProvinceChange($event.target.value)">
              <option value="" hidden disable selected>Seleccione una provincia</option>
              <option *ngFor="let province of provinces" [ngValue]="province" >{{province.provinceName}}</option>
            </select>
            <label class="error-messages" *ngIf="addressForm.get('receiverProvince').touched && addressForm.get('receiverProvince').hasError('required')">
                La provincia es requerido.
            </label>
            <h3>Cantón <span style="font-size: 50%" tooltip="Cantón donde reside la persona física o jurídica que recibe la factura." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <select [(ngModel)]="selectedCanton" formControlName="receiverCanton" name="receiverCanton" id="receiverCanton" class="form-control" (change)="onCantonChange($event.target.value)">
              <option value="" hidden disable selected>Seleccione un cantón</option>
              <option *ngFor="let canton of cantonsPeerProvince" [ngValue]="canton">{{canton.cantonName}}</option>
            </select>
            <label class="error-messages" *ngIf="addressForm.get('receiverCanton').touched && addressForm.get('receiverCanton').hasError('required')">
                El cantón es requerido.
            </label>
            <h3>Distrito <span style="font-size: 50%" tooltip="Distrito donde reside la persona física o jurídica que recibe la factura." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <select [(ngModel)]="selectedDistrict" formControlName="receiverDistrict" name="receiverDistrict" id="receiverDistrict" class="form-control" (change)="onDistrictChange($event.target.value)">
                <option value="" hidden disable selected>Seleccione un distrito</option>
                <option *ngFor="let district of districtsPeerCanton" [ngValue]="district">{{district.districtName}}</option>
            </select>
            <label class="error-messages" *ngIf="addressForm.get('receiverDistrict').touched && addressForm.get('receiverDistrict').hasError('required')">
                El distrito es requerido.
            </label>
            <h3>Barrio <span style="font-size: 50%" tooltip="Barrio donde reside la persona física o jurídica que recibe la factura." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <select [(ngModel)]="selectedNeighborhood" formControlName="receiverNeighborhood" name="receiverNeighborhood" id="receiverNeighborhood" class="form-control">
                <option value="" hidden disable selected>Seleccione un barrio</option>
                <option *ngFor="let neighborhood of neighborhoodsPeerDistrict" [ngValue]="neighborhood">{{neighborhood.neighborhoodName}}</option>
            </select>
            <label class="error-messages" *ngIf="addressForm.get('receiverNeighborhood').touched && addressForm.get('receiverNeighborhood').hasError('required')">
                El barrio es requerido.
            </label>
            <h3>Otras Señas <span style="font-size: 50%" tooltip="Rasgos de facil distición de donde reside la persona física o jurídica que recibe la factura." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <textarea formControlName="otherSignals" name="otherSignals" id="otherSignals" class="form-control" placeholder="Señas destacables del lugar"></textarea>
            <br>
            <button class="btn btn-primary prev" type="button" awPreviousStep>< Anterior</button>
            <button class="btn btn-primary nex" type="button" awNextStep>Siguiente ></button>
            <br>
            <br>
          </div>
        </form>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Telefóno">
        <form [formGroup]="phoneForm">
          <div class="form-group">
            <h3>Código de país <span style="font-size: 50%" tooltip="Codigo telefónico del pais donde reside la persona física o jurídica que recibe la factura." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <input formControlName="phoneCountryCode" name="phoneCountryCode" id="phoneCountryCode" maxlength="3" placeholder="Código de páis" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            <label class="error-messages" *ngIf="phoneForm.get('phoneCountryCode').touched && phoneForm.get('phoneCountryCode').hasError('required')">
                El código de país es requerido.
            </label>
            <h3>Telefóno <span style="font-size: 50%" tooltip="Numero telefónico del pais donde reside la persona física o jurídica que recibe la factura." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <input formControlName="receiverPhone" name="receiverPhone" id="receiverPhone" maxlength="20" placeholder="Telefóno" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            <label class="error-messages" *ngIf="phoneForm.get('receiverPhone').touched && phoneForm.get('receiverPhone').hasError('required')">
                El número de telefóno es requerido.
            </label>
            <br>
            <button class="btn btn-primary prev" type="button" awPreviousStep>< Anterior</button>
            <button class="btn btn-primary nex" type="button" awNextStep>Siguiente ></button>
            <br>
            <br>
          </div>
        </form>
      </aw-wizard-step>
      <aw-wizard-step stepTitle="Fax">
        <form [formGroup]="faxForm">
          <div class="form-group">
            <h3>Código de país <span style="font-size: 50%" tooltip="Codigo de fax del pais donde reside la persona física o jurídica que recibe la factura." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <input formControlName="faxCountryCode" name="faxCountryCode" id="faxCountryCode" maxlength="3" placeholder="Código de páis" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            <label class="error-messages" *ngIf="faxForm.get('faxCountryCode').touched && faxForm.get('faxCountryCode').hasError('required')">
                El código del país es requerido.
            </label>
            <h3>Fax <span style="font-size: 50%" tooltip="Numero de fax del pais donde reside la persona física o jurídica que recibe la factura." [tooltipDisabled]="false" [tooltipAnimation]="true" tooltipPlacement="top">ⓘ</span></h3>
            <input formControlName="faxNumber" name="faxNumber" id="faxNumber" maxlength="20" placeholder="Fax" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 57'>
            <label class="error-messages" *ngIf="faxForm.get('faxNumber').touched && faxForm.get('faxNumber').hasError('required')">
                El número de fax es requerido.
            </label>
            <br>
            <button class="btn btn-primary prev" type="button" awPreviousStep>< Anterior</button>
            <button (click)="addReceiver()" class="btn btn-primary nex">Agregar Receptor</button>
            <br>
            <br>
          </div>
        </form>
      </aw-wizard-step>
    </aw-wizard>
  </div>
</div>
